@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

:root {
  --c-dark-1 : #141b2d;
  --c-dark-2 : #1f2941;
  --c-main-1 : #706ef6;

  font-size: 15px;
  font-family: 'Proxima Nova', sans-serif;
}

.bg-dark-1 {background-color: var(--c-dark-1)}
.bg-dark-2 {background-color: var(--c-dark-2)}
.bg-main-1 {background-color: var(--c-main-1)}

body {
  background-color: var(--c-dark-1);
  color: #ededed;
}